html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
body {
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight:300;
    color:#62686f;
	background-image:url(../img/bg5.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position:center;    
}
h1,h2,h3,h4,h5,h6{
    color:#333333;
    font-weight:300;
}
.container{
	width:960px;
	margin:0 auto;
}
.main-header{
    padding: 1px;
    margin-top:150px;
    background-image:url(../img/banner.jpg);
}
.main-header__avatar{
    width: 15%;
    display: block;
    margin:0 auto;
    margin-top:-70px;

    border:3px solid white;
    border-radius:999px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
.main-header h1{
    margin-bottom:20px;
    color:#ffffff;
    text-align: center;
    text-shadow:0 1px rgba(0,0,0,0.3);
    font-weight:300;
    font-size:50px;
    font-family:'Open Sans','helvetica',arial,sans-serif;
}
.main-nav{
    background-color:#333333;
    text-align:center;
    padding: 1px;
}
.main-nav ul li{
    list-style:none;
    margin:15px 10px;
    display: inline;
}
.main-nav ul li a{
    color:#ffffff;
    font-size: 0.9rem;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:none;
}
.main-nav ul li a:hover{
    text-decoration:underline;
}
.info-section{
    padding:30px 60px;
    background-color:#ffffff;
}
.info-section header{
    text-align:center;
}
.info-section header h2{
    font-size:28px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.info-section header h2:after{
    content: '';
    width:80px;
    margin: 5px auto;
    display: block;
    border-bottom: 3px solid black;
}
.info-section__description{
    font-style: italic;
    margin-bottom:60px;
}
.whatido__skill{
    padding-top:120px;
    background-repeat: no-repeat;
    background-position: center top;
    width:33.333%;
    float:left;
    text-align:center;
    list-style: none;
}
.whatido__skill-list{
    padding: 1px;
    /*overflow:hidden;*/
}
.whatido__skill-list:after{
    content:"";
    display:table;
    clear:both;
}
.whatido__skill--code{
    background-image: url(../img/skill-code.png);

}
.whatido__skill--design{
    background-image: url(../img/skill-design.png);
}
.whatido__skill--product{
    background-image: url(../img/skill-product.png);
}
.education-experience__list li{
    overflow: hidden;
    list-style: none;
    margin:40px 0 40px 0;
}
.education-experience__list__description{
    overflow: hidden;
}
.education-experience__list img{
    width: 150px;
    float:left;
    margin-right: 25px;
}
.photos__list{
    margin:0 auto;
    padding:0;
}
.photos__list:after{
    content: '';
    display: table;
    clear:both;
}
.photos__list li{
    width:25%;
    float:left;
    list-style: none;
    padding:10px;
}
.photos__list li img{
    width:100%;
}